*.swp
.ICEauthority
.Xauthority
.bash_logout
.cache/
.compiz/
.config/
.gconf/
.local/
.mozilla/
.viminfo
.xsession-errors
.xsession-errors.old
examples.desktop
.bash_history
maths
.gnupg
home
.sudo_as_admin_successful
test/
sqlalchemy/
prang
.gnome2/
.java/
.jline-jython.history
.jython-cache/
.kde/
.lesshst
.macromedia/
.npm/
.openshot/
.pip/
.pki/
.psql_history
.pypirc
.python-eggs/
.python_history
.ssh/
.thunderbird/
.tox/
Downloads/
dave_trams/
geo/
geocache/
google_appengine/
greentree/
hask/
hxt/
imprimatur/
java/
js/
jython2.5.3/
mooc/
mooc_data/
mread/
odio/
peakdet/
perf/
pg8000/
pg_talk/
phonebak/
praw/
pypy3-2.4.0-linux64/
.adobe/
.appcfg_nag
.appcfg_oauth2_tokens
.avidemux/
.dmrc
.ffDiaporama/
.gem/
.ghc/
.gnokiirc
.gnome/
.xinputrc
.gimp-2.8/
.gksu.lock
.thumbnails/
Desktop/
Documents/
foroko/
.dbus/
pypy-4.0.0-linux64/
polifesto/
nltk_data/
jsaperstein/
gunnebo/
dropigee/
ads-python-api/
Templates/
Pictures/
.vnc/
.Skype/
.Upwork/
.idlerc/
.qgis2/

