{% extends "base.html" %}

{% block content %}
    {% for article in articles_page.object_list %}
      {# First item #}
      {% if loop.first and not articles_page.has_previous() %}
        <article>
            <header>
              <h2 class="entry-title">
                <a href="{{ SITEURL }}/{{ article.url }}">
                  {{ article.title }}
                </a>
              </h2>
              <time class="published" datetime="{{article.date.isoformat()}}">
                {{ article.locale_date }}
              </time>
            </header>
            {{ article.content }}
            <footer class="post-info">
            </footer>
          </article>
        {% else %}
          <article class="hentry">
            <header>
              <h2 class="entry-title">
                <a href="{{ SITEURL }}/{{ article.url }}" rel="bookmark"
                  title="Permalink to {{ article.title|striptags }}"
                  >{{ article.title }}</a>
              </h2>
              <time class="published" datetime="{{ article.date.isoformat() }}">
                {{ article.locale_date }}
              </time>
            </header>
            {{ article.summary }}
            <a class="readmore" href="{{ SITEURL }}/{{ article.url }}">read more</a>
            <footer class="post-info">
            </footer><!-- /.post-info -->
          </article>
      {% endif %}
    {% endfor %}
  {% if articles_page.has_other_pages() %}
    {% include 'pagination.html' %}
  {% endif %}
{% endblock content %}
